Ejemplo-01/Ejemplo-01-mejora.json
{
  "name": "Ejemplo-01-mejora",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "376f41b3-e122-4ded-b8c8-b9dfa3f96322",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "6FdxVf6GwmzzHgZw",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "80102aab-3a36-4b41-8c9e-45f5374ebd7e",
              "leftValue": "={{ $json.Enviado }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "ab82e6a1-62d4-45d7-8573-5da0ddc4d23a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Correo }}",
        "subject": "=Bienvenid@  {{ $('Google Sheets Trigger').item.json.Nombre }}",
        "emailType": "text",
        "message": "=Hola {{ $('Google Sheets Trigger').item.json.Nombre }} !!\n\nEste es un mensaje de bienvenida para {{ $('Google Sheets Trigger').item.json.Correo }}\n\nAhora eres una parte importante de nuestra empresa como {{ $('Google Sheets Trigger').item.json.Tipo }}\n\nUn cordial saludo\n\nRRHH ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -48
      ],
      "id": "f63aba00-8e06-44b8-9fdc-dd691304a1ca",
      "name": "Send a message",
      "webhookId": "246612b8-26fe-4c6a-ad60-96d7a016157f",
      "credentials": {
        "gmailOAuth2": {
          "id": "mqfkgMT8mpGBbfyn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10_g7ukW98ySMs24r6QwAhaT0Xbv8aUWOTiHR2PaVN_k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger').item.json.ID }}",
            "Enviado": "si"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -240
      ],
      "id": "100211a2-99e8-4c4c-b6a5-ffd492d71e3e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "04bfMGes88Ijxriv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f50f9d8b-5ace-4994-a6e3-20568e2ee37c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1928df68cad2ee1ffbc1c7bfef5decf0dd7b18ec65d28d00c9595491a53cce03"
  },
  "id": "ysB6AZ3Idqwca8PJsy9b6",
  "tags": []
}